/*fonts*/
/*colors*/
@font-face {
  font-family: "Montserrat700";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat400";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Damion";
  src: url("../fonts/Damion-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Caveat-Bold";
  src: url("../fonts/Caveat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Caveat-Regular";
  src: url("../fonts/Caveat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Yeseva One";
  src: url("../fonts/YesevaOne-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Cantata One";
  src: url("../fonts/CantataOne-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Dancing Script";
  src: url("../fonts/DancingScript-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "KaushanScript";
  src: url("../fonts/KaushanScript-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Devonshire";
  src: url("../fonts/Devonshire-Regular.ttf") format("truetype");
}
/* animation liens footer */
@keyframes vibrate-3 {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-2px, -2px);
  }
  20% {
    transform: translate(2px, -2px);
  }
  30% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  50% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, -2px);
  }
  70% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(-2px, -2px);
  }
  90% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
/*animation dot*/
@keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
/* animation scale-up-center*/
@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
header {
  width: 100%;
  height: 200px;
  background-color: #579c85;
  color: #fcca53;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  header {
    font-size: 1.5em;
    margin-bottom: 50px;
  }
}

footer {
  width: 100%;
  height: 140px;
  margin-top: 50px;
  background-color: #579c85;
  font-family: "Montserrat400";
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  position: fixed;
  bottom: 0;
}
footer a {
  color: #fcca53;
  text-decoration: none;
  padding-left: 150px;
  padding-right: 150px;
  font-size: 2.5em;
  text-align: center;
}
@media screen and (max-width: 991px) {
  footer a {
    font-size: 1.5em;
    text-align: center;
    padding: 30px;
  }
}
@media screen and (max-width: 768px) {
  footer a {
    font-size: 1em;
    text-align: center;
    padding: 20px;
  }
}
footer a:hover {
  -webkit-animation: vibrate-3 0.8s steps(2, end) infinite both;
  animation: vibrate-3 0.8s steps(2, end) infinite both;
}

header a {
  text-decoration: none;
}
header a:visited {
  color: #fcca53;
}

.note {
  margin-top: 50px;
  text-align: center;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}
@media screen and (max-width: 768px) {
  .note {
    font-size: 1em;
  }
}

.menu-1 {
  width: 1200px;
  margin: auto;
  display: flex;
  background-color: #fcdfdb;
  box-shadow: 0px 0px 4px 5px #f1f1f1;
  margin-top: 50px;
  margin-bottom: 200px;
  font-family: "Caveat-Regular", serif;
  font-size: 1.5em;
  font-weight: lighter;
  letter-spacing: 1px;
}
.menu-1 .titre {
  font-size: 2em;
}
@media screen and (max-width: 768px) {
  .menu-1 .titre {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 1199px) {
  .menu-1 {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.block__title-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .block__title-1 {
    font-size: 0.6em;
    text-align: center;
  }
}

.block__title-a {
  padding-left: 120px;
  padding-right: 120px;
  font-size: 1.5em;
  color: #3d1319;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .block__title-a {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.block__title-a img {
  max-height: 80px;
}

@media screen and (max-width: 991px) {
  img {
    max-width: 40px;
  }
}

.block__title-a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #3d1319;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 600ms ease-in-out;
}

.block__title-a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.block__title-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .block__title-2 {
    font-size: 0.6em;
    text-align: center;
  }
}

.block__title-b {
  padding-left: 80px;
  padding-right: 80px;
  font-size: 1.5em;
  color: #3d1319;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .block__title-b {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.block__title-b img {
  max-height: 20px;
}

@media screen and (max-width: 991px) {
  img {
    max-width: 40px;
  }
}

.block__title-b:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #3d1319;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 600ms ease-in-out;
}

.block__title-b:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.block__title-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .block__title-3 {
    font-size: 0.6em;
    text-align: center;
  }
}

.block__title-c {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1.5em;
  color: #3d1319;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .block__title-c {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.block__title-c img {
  max-height: 20px;
}

@media screen and (max-width: 991px) {
  img {
    max-width: 40px;
  }
}

.block__title-c:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #3d1319;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 600ms ease-in-out;
}

.block__title-c:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.section__header {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .section__header {
    padding-bottom: 5px;
  }
}
.section__header h2 {
  font-size: 1.8em;
  font-family: "Devonshire", cursive;
  color: #3d1319;
}

.block__meals {
  padding-left: 60px;
  padding-right: 60px;
}
@media screen and (max-width: 768px) {
  .block__meals {
    padding: 10px;
  }
}

.block__meals-line {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media screen and (max-width: 768px) {
  .block__meals-line {
    padding: 10px;
    font-size: 0.8em;
    align-items: center;
  }
}
.block__meals-line .price {
  padding-left: 20px;
}

.section__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
@media screen and (max-width: 768px) {
  .section__footer {
    font-size: 0.6em;
  }
}
.section__footer h2 {
  padding-left: 20px;
  font-family: "Devonshire", cursive;
  font-size: 2em;
  font-weight: lighter;
  color: #3d1319;
}
.section__footer img {
  max-height: 60px;
}

header a {
  text-decoration: none;
}
header a:visited {
  color: #fcca53;
}

.palette {
  margin-top: 50px;
  text-align: center;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}
@media screen and (max-width: 768px) {
  .palette {
    font-size: 1em;
  }
}

.menu-4-4 {
  width: 1200px;
  margin: auto;
  display: flex;
  background-color: #fdfffd;
  box-shadow: 0px 0px 4px 5px #f1f1f1;
  margin-top: 50px;
  margin-bottom: 200px;
  font-family: "Caveat-Regular", serif;
  font-size: 1.5em;
  font-weight: lighter;
  letter-spacing: 1px;
}
@media screen and (max-width: 1199px) {
  .menu-4-4 {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.block__title-4-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .block__title-4-1 {
    font-size: 0.6em;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.block_title-j {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1.5em;
  font-weight: lighter;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .block_title-j {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
}
.block_title-j img {
  max-height: 80px;
}

@media screen and (max-width: 991px) {
  img {
    max-width: 200px;
  }
}
@media screen and (max-width: 768px) {
  img {
    max-width: 80px;
  }
}

@media screen and (max-width: 991px) {
  img {
    max-width: 40px;
  }
}

.block_title-j:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #bfff7c;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 600ms ease-in-out;
}

.block_title-j:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.block__title-4-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .block__title-4-2 {
    font-size: 0.6em;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.block__title-k {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1.5em;
  font-weight: lighter;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .block__title-k {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
}
.block__title-k img {
  max-height: 80px;
}

@media screen and (max-width: 991px) {
  img {
    max-width: 200px;
  }
}
@media screen and (max-width: 768px) {
  img {
    max-width: 80px;
  }
}

.block__title-k:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #bfff7c;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 600ms ease-in-out;
}

.block__title-k:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.block__title-4-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .block__title-4-3 {
    font-size: 0.6em;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.block__title-l {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1.5em;
  font-weight: lighter;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .block__title-l {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
}
.block__title-l img {
  max-height: 80px;
}

@media screen and (max-width: 991px) {
  img {
    max-width: 200px;
  }
}
@media screen and (max-width: 768px) {
  img {
    max-width: 80px;
  }
}

.block__title-l:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #bfff7c;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 600ms ease-in-out;
}

.block__title-l:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.section__header-4 {
  text-align: center;
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .section__header-4 {
    padding: 30px;
  }
}
.section__header-4 h2 {
  font-size: 3em;
  font-family: "KaushanScript", cursive;
  font-family: "KaushanScript", cursive;
  background: linear-gradient(90deg, #42973c 0%, #bfff7c 100%);
  -webkit-background-clip: text;
  color: transparent;
}
@media screen and (max-width: 768px) {
  .section__header-4 h2 {
    font-size: 1.5em;
  }
}

.block__meals-4 {
  padding-left: 60px;
  padding-right: 60px;
}
@media screen and (max-width: 768px) {
  .block__meals-4 {
    padding: 10px;
  }
}

.block__meals-line-4 {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .block__meals-line-4 {
    padding: 10px;
    font-size: 0.8em;
    min-width: 220px;
    flex-wrap: unset;
    align-items: center;
  }
}
.block__meals-line-4 .price-4 {
  padding-left: 20px;
}

header a {
  text-decoration: none;
}
header a:visited {
  color: #fcca53;
}

.chic {
  margin-top: 50px;
  text-align: center;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}
@media screen and (max-width: 768px) {
  .chic {
    font-size: 1em;
  }
}

.menu-2-2 {
  width: 1200px;
  margin: auto;
  display: flex;
  background-color: #fff5fe;
  box-shadow: 0px 0px 4px 5px #f1f1f1;
  margin-top: 50px;
  margin-bottom: 200px;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5em;
  font-weight: lighter;
  letter-spacing: 1px;
}
@media screen and (max-width: 1199px) {
  .menu-2-2 {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
}

.block__title-2-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .block__title-2-1 {
    font-size: 0.6em;
  }
}
.block__title-2-1 .block__title-d {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  color: #d8852e;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .block__title-2-1 .block__title-d {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
}
.block__title-2-1 .block__title-d img {
  max-height: 80px;
}
@media screen and (max-width: 991px) {
  .block__title-2-1 img {
    max-width: 200px;
  }
}
@media screen and (max-width: 768px) {
  .block__title-2-1 img {
    max-width: 80px;
  }
}
.block__title-2-1 .block__title-d:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #d8852e;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 600ms ease-in-out;
}
.block__title-2-1 .block__title-d:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.block__meals-2 {
  color: #d8852e;
  font-weight: lighter;
  font-size: 0.8em;
  padding: 50px;
}
@media screen and (max-width: 768px) {
  .block__meals-2 {
    padding: 10px;
  }
}

.block__title-2-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .block__title-2-2 {
    font-size: 0.6em;
  }
}
.block__title-2-2 .block__title-e {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  color: #a56799;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .block__title-2-2 .block__title-e {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
}
.block__title-2-2 .block__title-e img {
  max-height: 80px;
}
@media screen and (max-width: 991px) {
  .block__title-2-2 img {
    max-width: 200px;
  }
}
@media screen and (max-width: 768px) {
  .block__title-2-2 img {
    max-width: 80px;
  }
}
.block__title-2-2 .block__title-e:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #a56799;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 600ms ease-in-out;
}
.block__title-2-2 .block__title-e:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.block__meals-2-2 {
  color: #a56799;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 0.8em;
  padding: 50px;
}
@media screen and (max-width: 768px) {
  .block__meals-2-2 {
    padding: 10px;
  }
}

.block__title-2-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .block__title-2-3 {
    font-size: 0.6em;
  }
}
.block__title-2-3 .block__title-f {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  color: #905bfd;
  position: relative;
  padding-left: 5px;
}
@media screen and (max-width: 1199px) {
  .block__title-2-3 .block__title-f {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
}
.block__title-2-3 .block__title-f img {
  max-height: 80px;
}
@media screen and (max-width: 991px) {
  .block__title-2-3 img {
    max-width: 200px;
  }
}
@media screen and (max-width: 768px) {
  .block__title-2-3 img {
    max-width: 80px;
  }
}
.block__title-2-3 .block__title-f:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #905bfd;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 600ms ease-in-out;
}
.block__title-2-3 .block__title-f:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.block__meals-2-3 {
  color: #905bfd;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 0.8em;
  padding: 50px;
}
@media screen and (max-width: 768px) {
  .block__meals-2-3 {
    padding: 10px;
  }
}

.block__meals-line-2 {
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media screen and (max-width: 768px) {
  .block__meals-line-2 {
    padding: 10px;
    font-size: 0.8em;
    min-width: 220px;
    flex-wrap: unset;
    align-items: center;
  }
}
.block__meals-line-2 .price-2 {
  padding-left: 20px;
}

.section__header-2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 80px;
}
@media screen and (max-width: 768px) {
  .section__header-2 {
    padding-top: 0px;
    padding-bottom: 50px;
  }
}
.section__header-2 h2 {
  font-size: 2.5em;
  font-family: "YesevaOne", serif;
  font-weight: lighter;
  background: linear-gradient(90deg, #d8852e 0%, #905bfd 100%);
  -webkit-background-clip: text;
  color: transparent;
}
@media screen and (max-width: 768px) {
  .section__header-2 h2 {
    font-size: 1.5em;
  }
}

header a {
  text-decoration: none;
}
header a:visited {
  color: #fcca53;
}

.delice {
  margin-top: 50px;
  text-align: center;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}
@media screen and (max-width: 768px) {
  .delice {
    font-size: 1em;
  }
}

.menu-3 {
  width: 1200px;
  margin: auto;
  display: flex;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 4px 5px #f1f1f1;
  margin-top: 50px;
  margin-bottom: 200px;
  font-family: "Caveat-Regular", serif;
  font-size: 1.5em;
  font-weight: lighter;
  letter-spacing: 1px;
}
@media screen and (max-width: 1199px) {
  .menu-3 {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.block__title-3-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .block__title-3-1 {
    font-size: 0.6em;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.block__title-g {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1.5em;
  font-weight: lighter;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .block__title-g {
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
  }
}
.block__title-g img {
  max-height: 80px;
}

@media screen and (max-width: 991px) {
  img {
    max-width: 200px;
  }
}
@media screen and (max-width: 768px) {
  img {
    max-width: 80px;
  }
}

.block__title-g:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #0229dd;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 600ms ease-in-out;
}

h3:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.block__title-3-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .block__title-3-2 {
    font-size: 0.6em;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.block__title-h {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1.5em;
  font-weight: lighter;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .block__title-h {
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
  }
}
.block__title-h img {
  max-height: 80px;
}

@media screen and (max-width: 991px) {
  img {
    max-width: 200px;
  }
}
@media screen and (max-width: 768px) {
  img {
    max-width: 80px;
  }
}

.block__title-h:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #0887fb;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 600ms ease-in-out;
}

.block__title-h:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.block__title-3-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .block__title-3-3 {
    font-size: 0.6em;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.block__title-i {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1.5em;
  font-weight: lighter;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .block__title-i {
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
  }
}
.block__title-i img {
  max-height: 80px;
}

@media screen and (max-width: 991px) {
  img {
    max-width: 200px;
  }
}
@media screen and (max-width: 768px) {
  img {
    max-width: 80px;
  }
}

.block__title-i:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #229df9;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 600ms ease-in-out;
}

.block__title-i:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.section__header-3 {
  text-align: center;
  padding-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .section__header-3 {
    padding: 30px;
  }
}
.section__header-3 h2 {
  font-size: 3em;
  font-family: "Dancing Script", cursive;
  font-weight: lighter;
  background: linear-gradient(90deg, #0229dd 0%, #229df9 100%);
  -webkit-background-clip: text;
  color: transparent;
}
@media screen and (max-width: 768px) {
  .section__header-3 h2 {
    font-size: 1.5em;
  }
}

.block__meals-3 {
  padding-left: 60px;
  padding-right: 60px;
}
@media screen and (max-width: 768px) {
  .block__meals-3 {
    padding: 10px;
  }
}

.block__meals-line-3 {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .block__meals-line-3 {
    padding: 10px;
    font-size: 0.8em;
    min-width: 220px;
    flex-wrap: unset;
    align-items: center;
  }
}
.block__meals-line-3 .price-3 {
  padding-left: 20px;
}

header a {
  text-decoration: none;
}
header a:visited {
  color: #fcca53;
}

.mentions_legales {
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
  font-family: "Montserrat400";
}
@media screen and (max-width: 991px) {
  .mentions_legales {
    align-items: center;
    padding: 50px 100px;
  }
}
@media screen and (max-width: 768px) {
  .mentions_legales {
    padding: 50px;
  }
}
.mentions_legales h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 100px;
  font-weight: bold;
}
.mentions_legales h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 50px;
  padding-top: 30px;
  font-weight: bold;
}
.mentions_legales p {
  padding-bottom: 20px;
}

body, h1, h2, h3, h4, h5, p {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  max-width: 1200px;
  min-height: 1400px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  main {
    margin: unset;
  }
}

.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .block {
    flex-wrap: wrap;
  }
}
.block a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  text-align: center;
}
.link h2 {
  padding-top: 200px;
  color: #3d1319;
  font-size: 2.2em;
  padding-left: 10px;
  padding-right: 10px;
}
.link p {
  padding-top: 40px;
  padding-bottom: 200px;
  font-size: 3em;
}

.accueil-menu-1 {
  width: 400px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 4px 5px #f1f1f1;
  background-color: #fcdfdb;
}
@media screen and (max-width: 768px) {
  .accueil-menu-1 {
    font-size: 0.8em;
  }
}
.accueil-menu-1 h2 {
  font-size: 3em;
  padding-top: 5px;
  font-family: "Devonshire", cursive, cursive;
}
.accueil-menu-1 p {
  padding-top: 30px;
  font-family: "Caveat-Regular", serif;
  color: #3d1319;
  text-transform: uppercase;
  font-weight: bold;
}
.accueil-menu-1 img {
  padding-top: 180px;
}
.accueil-menu-1 .link:hover {
  transform: scale(1.1);
  opacity: 0.5;
}

.accueil-menu-2 {
  width: 400px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 4px 5px #f1f1f1;
  background-color: #fff5fe;
}
@media screen and (max-width: 768px) {
  .accueil-menu-2 {
    font-size: 0.8em;
  }
}
.accueil-menu-2 h2 {
  font-family: "YesevaOne", serif;
  background: linear-gradient(90deg, #d8852e 0%, #905bfd 100%);
  -webkit-background-clip: text;
  color: transparent;
  margin-top: 30px;
}
.accueil-menu-2 p {
  color: #d8852e;
  padding-top: 45px;
  font-weight: bold;
}
.accueil-menu-2 .link:hover {
  transform: scale(1.1);
  opacity: 0.5;
}

.accueil-menu-3 {
  width: 400px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 4px 5px #f1f1f1;
  background-color: #f9f9f9;
}
@media screen and (max-width: 768px) {
  .accueil-menu-3 {
    font-size: 0.8em;
  }
}
.accueil-menu-3 h2 {
  font-family: "Dancing Script", cursive;
  background: linear-gradient(90deg, #0229dd 0%, #229df9 100%);
  -webkit-background-clip: text;
  color: transparent;
}
.accueil-menu-3 p {
  font-family: "Caveat-Regular", serif;
  color: #229df9;
  font-size: 3.5em;
}
.accueil-menu-3 .link:hover {
  transform: scale(1.1);
  opacity: 0.5;
}

.accueil-menu-4 {
  width: 400px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 4px 5px #f1f1f1;
  background-color: #fdfffd;
}
@media screen and (max-width: 879px) {
  .accueil-menu-4 {
    font-size: 0.8em;
  }
}
.accueil-menu-4 h2 {
  font-family: "KaushanScript", cursive;
  background: linear-gradient(90deg, #42973c 0%, #bfff7c 100%);
  -webkit-background-clip: text;
  color: transparent;
}
.accueil-menu-4 p {
  font-family: "Caveat-Regular", serif;
  color: #72bf56;
  font-size: 3.5em;
}
.accueil-menu-4 .link:hover {
  transform: scale(1.1);
  opacity: 0.5;
}

/*PROCHAINEMENT*/
.prochainement {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 100px;
  border-radius: 10px;
  background-color: #579c85;
  color: #fcca53;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5em;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .prochainement {
    max-width: 300px;
    font-size: 1.5em;
    margin-bottom: 200px;
  }
}

.btn {
  margin-top: 50px;
}

.dot1 {
  -webkit-animation: blink-2 0.9s 1s infinite both;
  animation: blink-2 0.9s 1s infinite both;
}

.dot2 {
  -webkit-animation: blink-2 0.9s 1.1s infinite both;
  animation: blink-2 0.9s 1.1s infinite both;
}

.dot3 {
  -webkit-animation: blink-2 0.9s 1.2s infinite both;
  animation: blink-2 0.9s 1.2s infinite both;
}

/*# sourceMappingURL=style.css.map */
