@font-face {
    font-family: 'Montserrat700';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat400';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Damion';
    src: url('../fonts/Damion-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Caveat-Bold';
    src: url('../fonts/Caveat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Caveat-Regular';
    src: url('../fonts/Caveat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Yeseva One';
    src: url('../fonts/YesevaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cantata One';
    src: url('../fonts/CantataOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Dancing Script';
    src: url('../fonts/DancingScript-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'KaushanScript';
    src: url('../fonts/KaushanScript-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Devonshire';
    src: url('../fonts/Devonshire-Regular.ttf') format('truetype');
}