header a {
    text-decoration: none;
        &:visited {
     color: $color-secondary;
    }
}

.palette {
    margin-top: 50px;
    text-align: center;
    font-size: 2em;
    font-family: $font-maintitle;
    letter-spacing: 1px;
    @media screen and (max-width: 768px) {
        font-size: 1em;
    }
}

.menu-4-4 {
    width: 1200px;
    margin: auto;
    display: flex;
    background-color: $color-menu4;
    box-shadow: 0px 0px 4px 5px #f1f1f1;
    margin-top: 50px;
    margin-bottom: 200px;
    font-family: $font-secondary;
    font-size: 1.5em;
    font-weight: lighter;
    letter-spacing: 1px;
    @media screen and (max-width: 1199px) {
        width: 90%;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
       }
}

@mixin block-repeat-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    @media screen and (max-width: 768px) {
        font-size: 0.6em;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.block__title-4-1 {
    @include block-repeat-4;
    }
    .block_title-j {
        padding-left: 50px;
        padding-right: 50px;
        font-size: 1.5em;
        font-weight: lighter;
        position: relative;
        @media screen and (max-width: 1199px) {
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
        }
    & img {
        max-height: 80px;
    }
}

img {
    @media screen and (max-width: 991px) {
        max-width: 200px;
    }
    @media screen and (max-width: 768px) {
        max-width: 80px;
    }
}

img {
    @media screen and (max-width: 991px) {
        max-width: 40px;
    }
}

.block_title-j:before {
        content:"";
        position:absolute;
        width:100%;
        height:3px;
        bottom:0;
        left:0;
        background-color:$color-menu4-2;
        transform:scaleX(0);
        transform-origin: left;
        transition:all 600ms ease-in-out;
    }
    .block_title-j:hover:before {
        visibility:visible;
        transform:scaleX(1)
}

.block__title-4-2 {
    @include block-repeat-4;
    }
    .block__title-k {
        padding-left: 50px;
        padding-right: 50px;
        font-size: 1.5em;
        font-weight: lighter;
        position: relative;
        @media screen and (max-width: 1199px) {
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
        }
    & img {
        max-height: 80px;
    }
}

img {
    @media screen and (max-width: 991px) {
        max-width: 200px;
    }
    @media screen and (max-width: 768px) {
        max-width: 80px;
    }
}

.block__title-k:before {
        content:"";
        position:absolute;
        width:100%;
        height:3px;
        bottom:0;
        left:0;
        background-color:$color-menu4-2;
        transform:scaleX(0);
        transform-origin: left;
        transition:all 600ms ease-in-out;
    }
    .block__title-k:hover:before {
        visibility:visible;
        transform:scaleX(1)
}

.block__title-4-3 {
    @include block-repeat-4;
    }
    .block__title-l {
        padding-left: 50px;
        padding-right: 50px;
        font-size: 1.5em;
        font-weight: lighter;
        position: relative;
        @media screen and (max-width: 1199px) {
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
        }
    & img {
        max-height: 80px;
    }
}

img {
    @media screen and (max-width: 991px) {
        max-width: 200px;
    }
    @media screen and (max-width: 768px) {
        max-width: 80px;
    }
}

.block__title-l:before {
        content:"";
        position:absolute;
        width:100%;
        height:3px;
        bottom:0;
        left:0;
        background-color:$color-menu4-2;
        transform:scaleX(0);
        transform-origin: left;
        transition:all 600ms ease-in-out;
    }
    .block__title-l:hover:before {
        visibility:visible;
        transform:scaleX(1)
    }

.section__header-4 {
    text-align: center;
    padding-bottom: 50px;
    @media screen and (max-width: 768px) {
        padding: 30px;
    } 
    & h2 {
    font-size: 3em;
    font-family: $font-palette;
    font-family: $font-palette;
    background: linear-gradient(90deg, $color-menu4-1 0%, $color-menu4-2 100%);
    -webkit-background-clip: text;
    color: transparent;
        @media screen and (max-width: 768px) {
            font-size: 1.5em;
        }
    } 
}

.block__meals-4 {
    padding-left: 60px;
    padding-right: 60px;
    @media screen and (max-width: 768px) {
        padding: 10px;
    }
}
 
.block__meals-line-4 {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    @media screen and (max-width: 768px) {
        padding: 10px;
        font-size: 0.8em;
        min-width: 220px;
        flex-wrap: unset;
        align-items: center;
    }
    & .price-4 {
        padding-left: 20px;
    }
} 
