header a {
    text-decoration: none;
        &:visited {
     color: $color-secondary;
    }
}

.chic {
    margin-top: 50px;
    text-align: center;
    font-size: 2em;
    font-family: $font-maintitle;
    letter-spacing: 1px;
    @media screen and (max-width: 768px) {
        font-size: 1em;
    }
}

.menu-2-2 {
    width: 1200px;
    margin: auto;
    display: flex;
    background-color: $color-menu2;
    box-shadow: 0px 0px 4px 5px #f1f1f1;
    margin-top: 50px;
    margin-bottom: 200px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-weight: lighter;
    letter-spacing: 1px;
    @media screen and (max-width: 1199px) {
        width: 90%;
        display: flex;
        flex-direction: column;
       }
}

.block__title-2-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    @media screen and (max-width: 768px) {
        font-size: 0.6em;
    }
    & .block__title-d {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1em;
        font-weight: lighter;
        letter-spacing: 1px;
        color: $color-menu2-1;
        position: relative;
        @media screen and (max-width: 1199px) {
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
        }
    & img {
        max-height: 80px;
    }
}

img {
    @media screen and (max-width: 991px) {
        max-width: 200px;
    }
    @media screen and (max-width: 768px) {
        max-width: 80px;
    }
}

.block__title-d:before {
        content:"";
        position:absolute;
        width:100%;
        height:3px;
        bottom:0;
        left:0;
        background-color: $color-menu2-1;
        transform:scaleX(0);
        transform-origin: left;
        transition:all 600ms ease-in-out;
    }
    & .block__title-d:hover:before {
        visibility:visible;
        transform:scaleX(1)
    }
}

.block__meals-2 {
    color: $color-menu2-1;
    font-weight: lighter;
    font-size: 0.8em;
    padding: 50px;
    @media screen and (max-width: 768px) {
        padding: 10px;
    }
}

.block__title-2-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    @media screen and (max-width: 768px) {
        font-size: 0.6em;
    }
    & .block__title-e {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1em;
        font-weight: lighter;
        letter-spacing: 1px;
        color: $color-menu2-3;
        position: relative;
        @media screen and (max-width: 1199px) {
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
        }
    & img {
        max-height: 80px;
    }
}

img {
    @media screen and (max-width: 991px) {
        max-width: 200px;
    }
    @media screen and (max-width: 768px) {
        max-width: 80px;
    }
}

.block__title-e:before {
        content:"";
        position:absolute;
        width:100%;
        height:3px;
        bottom:0;
        left:0;
        background-color: $color-menu2-3;
        transform:scaleX(0);
        transform-origin: left;
        transition:all 600ms ease-in-out;
    }
    & .block__title-e:hover:before {
        visibility:visible;
        transform:scaleX(1)
    }
}

.block__meals-2-2 {
    color: $color-menu2-3;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 0.8em;
    padding: 50px;
    @media screen and (max-width: 768px) {
        padding: 10px;
    }
}

.block__title-2-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    @media screen and (max-width: 768px) {
        font-size: 0.6em;
    }
    & .block__title-f {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1em;
        font-weight: lighter;
        letter-spacing: 1px;
        color: $color-menu2-2;
        position: relative;
        padding-left: 5px;
        @media screen and (max-width: 1199px) {
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
        }
    & img {
        max-height: 80px;
    } 
}

img {
    @media screen and (max-width: 991px) {
        max-width: 200px;
    }
    @media screen and (max-width: 768px) {
        max-width: 80px;
    }
}

.block__title-f:before {
        content:"";
        position:absolute;
        width:100%;
        height:3px;
        bottom:0;
        left:0;
        background-color: $color-menu2-2;
        transform:scaleX(0);
        transform-origin: left;
        transition:all 600ms ease-in-out;
    }
    & .block__title-f:hover:before {
        visibility:visible;
        transform:scaleX(1)
    }
}

.block__meals-2-3 {
    color: $color-menu2-2;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 0.8em;
    padding: 50px;
    @media screen and (max-width: 768px) {
        padding: 10px;
    }
}

.block__meals-line-2 {
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    @media screen and (max-width: 768px) {
        padding: 10px;
        font-size: 0.8em;
        min-width: 220px;
        flex-wrap: unset;
        align-items: center;
    }
    & .price-2 {
        padding-left: 20px;
    }
} 

.section__header-2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 80px;
    @media screen and (max-width: 768px) {
        padding-top: 0px;
        padding-bottom: 50px;
    }
    & h2 {
    font-size: 2.5em;
    font-family: $font-chic;
    font-weight: lighter;
    background: linear-gradient(90deg, $color-menu2-1 0%, $color-menu2-2 100%);
    -webkit-background-clip: text;
    color: transparent;
        @media screen and (max-width: 768px) {
            font-size: 1.5em;
        }
    }
}