header a {
  text-decoration: none;
      &:visited {
   color: $color-secondary;
  }
}

.mentions_legales {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat400';
  & h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 100px;
    font-weight: bold;
  }
  & h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 50px;
    padding-top: 30px;
    font-weight: bold;
  }
  & p {
    padding-bottom: 20px;
  }
}
