footer {
    width: 100%;
    height: 140px;
    margin-top: 50px;
    background-color: $color-primary;
    font-family: 'Montserrat400';
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    position: fixed;
    bottom: 0;
    & a {
        color: $color-secondary;
        text-decoration: none;
        padding-left: 150px;
        padding-right: 150px;
        font-size: 2.5em;
        @media screen and (max-width: 768px) {
          font-size: 1em;
          text-align: center;
          padding: 20px;
        }
    }
    a:hover {
      -webkit-animation: vibrate-3 0.8s steps(2, end) infinite both;
          animation: vibrate-3 0.8s steps(2, end) infinite both;
    }
  }